% def quot(str)
%   '"'+str+'"'
% end
%
client:
  name: playground-client
  version: 0

targets:
% targets[0].pod_targets.each do |target|
  <%= target.name %>: [<%= target.all_dependent_targets.map(&:name).map{ |str| quot(str) }.join(', ') %>]
% end
